@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


.quicksand-uniquifier{
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

body{
    background-image:url(../assets/bg.png);
    
    
    margin: 50px;
    margin-top: 0px;
    
    
}
.display-flex{
    display: flex;
}
.regular{
    font-size: 20px;
    font-weight: 400;

}


.logo{ display: flex;}
nav ul li{
    list-style: none;
    
    
}
nav ul a{
    text-decoration: none;
   

}
nav ul{
    display: flex;
    gap: 30px;
    
    
}
nav img{
    width: 62px;
    height: 62px;
}
.school{
    font-size: 25px;
    font-weight: bold;
}
.home{
    color: orange;
    font-size: 20px;
    font-weight: bold;

}

.about{
    color: skyblue;
    font-size: 20px;
    font-weight: bold;
}
.faci{
    color: #05D4DF;
    font-size: 20px;
    font-weight: bold;
}
.add{
    color:#5D58EF;
    font-size: 20px;
    font-weight: bold;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0.5px solid orange;
    margin:0%;
    border: none;
    background-color: white;
}
.btn-primary{
    color: white;
    font-weight: 600;
    background-color: orange;
    width: 130px;
    height: 55px;
    padding: 12px;
    border: none;
    border-radius: 12px;
    

}
.icon{
    display: none;
}


.empower{
    color: orange;
    margin-right: 50px;
}
.towerds{
color: skyblue;
}
.banner-title{
    line-height: 61px;
    width: 600px;
    height: 183px;
    font-size: 56px;
    font-weight: bold;
}
.banner-discription{
    width: 600px;
    height: 50px;
    
}

.banner-btn{
    color: white;
    font-weight: 600;
    background-color: black;
    width: 130px;
    height: 55px;
    padding: 12px;
    border: none;
    border-radius: 12px;
}
.banner-container{
    margin-top: 100px;
    margin-bottom: 100px;
}
.banner-img{
    width: 468px;
    height: 575;
}
.banner{
    justify-content: space-between;
    align-items: center;
    background-color: white;
    
}


.dis-title{
     text-align: center;
     margin: 50px;
     font-size: 26px;
     font-weight: bold;
}
.bg-card-1{
    background-image: linear-gradient(#DEF5FF 0%, white 40%);
 
    width: 374px;
    height: 470px;
    border: 1px solid #DEF5FF ;
    border-radius: 18.5px;
}
.card-img{
    margin-top: 52px;
}
.card-title{
    font-size: 24px;
    font-weight: bold;
}
.card-discription{
    font-size: 16px;
    font-weight: medium;
    
    height: 74px;
    line-height: 28px;

}
.btn-kilder{
    color: #64C8FF;
    background-color: white;
    border: none;
    font-size: 15px;
    font-weight: bold;
    line-height: 18px;
    padding: 25px;

}
.card{
    
    justify-content: center;
    text-align: center;
    justify-items: center;

}


.bg-card-2{
    background-image: linear-gradient(#FFF4DC 0%, white 40%);
 
    width: 374px;
    height: 470px;
    border: 1px solid #FFF4DC ;
    border-radius: 18.5px;
}
.btn-elementary{
    color: #F0AA00;
    background-color: white;
    border: none;
    font-size: 15px;
    font-weight: bold;
    line-height: 18px;
    padding: 25px;
}
.bg-card-3{
    background-image: linear-gradient(#EEE1FF 0%, white 40%);
 
    width: 374px;
    height: 470px;
    border: 1px solid #EEE1FF ;
    border-radius: 18.5px;
}
.btn-middle{
    color: #8700FF;
    background-color: white;
    border: none;
    font-size: 15px;
    font-weight: bold;
    line-height: 18px;
    padding: 25px;
}

.dis-card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    text-align: center;
    gap: 20px;
    

}
.btn-22{
    color: white;
    background-color: orange;
    border: none;
    font-size: 20px;
    font-weight:1000;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.btn-new{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 50px;
}
.our-story-title{
    text-align: center;
}
.story-card-01{
    background-color: white;
    
}
.story-1{
    width: 100%;
    height: 100%;
}
.btn-story-1{
    background-color:#3CD8E8;
    color: white;
    font-size: 15px;
    font-weight: medium;
    width: 170px;
    height: 45px;
    border: none;
    border-radius: 47px;
    position: relative;
    transform: translateX(-80%) translateY(-50%);
}


.btn-story-2, .btn-story-4, .btn-story-5{
    background-color:#95B226;
    color: white;
    font-size: 15px;
    font-weight: medium;
    width: 170px;
    height: 45px;
    border: none;
    border-radius: 47px;
    position: relative;
    transform: translateX(-10%) translateY(-50%);
}
.btn-story-3{
    background-color:#5D58F0;
    color: white;
    font-size: 15px;
    font-weight: medium;
    width: 170px;
    height: 45px;
    border: none;
    border-radius: 47px;
    position: relative;
    transform: translateX(-10%) translateY(-50%);
}
.story-1{
    width: 540px;
    height: 330px;
}
.story-card-4{
    background-color: white;
    border-radius: 16px;
    width: 540.27px;
    height: 630.52px;
}
    .story-card-8, .story-card-7, .story-card-6, .story-card-5{
        background-color: white;
        border-radius: 5%;
        width: 290px;
        height: 300px;}
.container-2{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 20px;
   
}
.our-story{
    text-align: center;
    display: flex;
        justify-content: space-around; }

  .view-btn{
        
         color: white;
         font-weight: 600;
         background-color: black;
         width: 130px;
         height: 55px;
         padding: 12px;
         border: none;
         border-radius: 12px;
        
        }
        .btn-view{
            justify-content: center;
            margin: 20px;
            align-items: center;
            text-align: center;
        }
        .story{
             background-image: linear-gradient(white 0%, #FFF4DC 40%);
 
        }
        .footer-title, .footer-dis{
            color: white;
        }
        
        .footer-title{
            display: flex;
        }
        .footer-about h2, .footer-about div h4{
            color: white;
        }
        .footer-icons img{
            gap: 10px;
            margin: 10px;
        }
        .keep{
            color: white;
        }
        footer{
            background-color: #01ACFD;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            justify-content: space-around;
            gap: 100px;
            margin-left: -5%;
            margin-right: -5%;
            padding: 100px;
        }





@media screen and (max-width:576px) {
    
        
    
    /* navbar */
    .school, .btn-primary{
        display: none;
    }
    nav ul li{
        display: none;
    }
    .icon{
        display: block;
    }
.navbar{
    border: 0.5px solid orange;
    
}
/* banner */
.banner{
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    justify-items: center;
    text-align: center;
}

    

    
    
.banner-img {
    width: 350px;
    height: 400px;
}


.banner-title{
    line-height: 40px;
    font-size: 40px;
    width: 250px;
    height: 0%;
    text-align: left;
    padding-left: 30%;
    
}
.banner-discription{
    width: auto;
    height: auto;
}


.dis-card{
    grid-template-columns: repeat(1, 3fr);
    flex-direction: column;
    justify-items: center;
    justify-content: center;}
    
    .btn-new{
        text-align: center;
        color: white;}
    .container-1{
        display: none;
    }
    .container-2{
       display: grid;
       grid-template-columns: repeat(2fr);
       justify-items: center;
       overflow: hidden;
       
       
    }

    

    
    footer{
        display: grid;
        grid-template-columns: repeat(1, 3fr);
    }
    
    
    }
